.header {
  position: relative;
  z-index: 100;
  overflow: hidden;

  &__panel {
    color: #fff;
    background: rgba(32, 32, 32, 0.9)
  }

  &__contacts {
    width: calc(100% - 218px);
    padding-right: 40px;
    align-items: center;
  }

  &__contact {
    font-size: 14px;
    line-height: 16px;

    &:after {
      content: '|';
      color: #868585;
      margin-left: 6px;
      margin-right: 6px;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &__cart {
    width: 218px;
    height: 60px;
    margin-left: auto;
  }

  &__inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &-wrap {
      align-items: center;
    }
  }

  &__logo {
    width: 192px;
    height: 50px;

    a {
      border-bottom: none;
    }
  }

  &__nav {
    margin-left: auto;
    margin-right: 40px;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 218px;
    height: 76px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    border-left: 1px solid rgba(255, 255, 255, 0.3);

    a {
      border-bottom: none;
      color: #fff;
    }
  }

  &__bg {
    height: 100vh;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

@media screen and (max-width: 1220px) {
  .header {
    &__nav {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    &__contacts {
      width: calc(100% - 170px);
      padding-right: 10px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__contact {
      margin-bottom: 5px;

      &::after {
        display: none;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__cart {
      width: 170px;
      height: 55px;
    }
  }
}