.advantages {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  &__list {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__item {
    display: flex;
    align-items: center;
    width: calc(100% / 5);
    padding: 20px 15px 20px 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__icon {
    margin-right: 19px;
  }
  &__name {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
}
