@import '~styles/vars.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $fzMain;
  font-family: $ffMain;
  cursor: pointer;
  transition: .3s;
  &_xs {
    font-size: 12px;
    min-height: 30px;
  }
  &_sm {
    min-height: 40px;
  }
  &_md {
    min-height: 52px;
  }
  &_green {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: $green;
    border-radius: 5px;
    &:hover {
      background: darken($green, 5%);
    }
  }
}
